<!-- Comando de boostrapt 4 para que funcione el stylo del codigo, Global esta el comando de Boostrapt 5 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<!-- *************************************************************************************************** -->

<div class="container mt-4">
    <div class="row" style="margin-bottom: 30px">
      <ul>
        <li class="guia"> <h2><em style="font-weight: bold;">Guia/ Remesa:</em></h2></li>
        <li *ngFor="let consulta of consultas" class="consultas">{{ consulta }}</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-3">
        <ul class="variables">
          <li style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><em style="font-weight: 700; font-family: Verdana, Geneva, Tahoma, sans-serif;" >Remitente</em>: {{nombreRemitente}}</li>
          <li><em style="font-weight: bold;">cantidad</em>: {{cantidad}}</li>
          <li><em style="font-weight: bold;">Origen</em>: {{origen}}</li>
        </ul>
        <p class="puntos">
          ............................
        </p>
      </div>
      <div class="col-12 col-md-9 expandirTamanio" >
        <ul class="float-sm-left fechasIconos" *ngFor="let step of steps; let i = index" (mouseover)="actualizarProgreso(step.id)">
          <li>{{ step.date }}</li>
          <li style="text-align: center;">{{ step.time }}</li>
          <li style="text-align: center">
            <img [src]="step.src" [alt]="step.alt" class="iconos" />
          </li>
        </ul>
      </div>
    </div>



      <div class="row">

        <div class="col-3">
        <ul class="variablesDest">
          <li style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><em style="font-weight: 700; font-family: Verdana, Geneva, Tahoma, sans-serif;">Destinatario</em>:  {{nombreRemitente}}</li>
          <li><em style="font-weight: bold;">Dirección</em>: {{cantidad}}</li>
          <li><em style="font-weight: bold;">Destino</em>: {{destino}}</li>
        </ul>
        </div>
        <div class="col-9">
          <ul class="progresoLinea">
            <li *ngIf="progresoActual > 0">

              <div class="progress">
                <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="progresoActual"
                [attr.aria-valuenow]="progresoActual"
                aria-valuemin="0"
                aria-valuemax="100"
                style="background-color: #ff9900"

                >

                </div>
                <div class="circulo-progreso" [style.left.px]="posicionHorizontalCirculo"></div>
                <div class="circulo-progreso" [style.left.px]="progreso"></div>
                <div class="circulo-progreso" [style.left.px]="progreso1"></div>
                <div class="circulo-progreso" [style.left.px]="progreso2"></div>
                <div class="circulo-progreso" [style.left.px]="progreso3"></div>
                <div class="circulo-progreso" [style.left.px]="progreso4"></div>
                <div class="circulo-progreso" [style.left.px]="progreso5"></div>

              </div>
            </li>

            </ul>
          <div>
            <ul class="letrasLinea">
              <li class="recogida">Recogida</li>
            </ul>
            <ul class="letrasLinea">
              <li class="bodegaOrigen">En bodega Origen</li>
              <li class="plataforma">{{plataforma}}</li>
            </ul>
            <ul class="letrasLinea">
              <li class="enTransito">En Tránsito</li>
            </ul>
            <ul class="letrasLinea">
              <li class="Bodega">En bodega</li>
              <li class="plataforma2">{{plataforma}}</li>
            </ul>
            <ul class="letrasLinea">
              <li class="reparto" >En reparto</li>
            </ul>
            <ul class="letrasLinea">
              <li class="entregado">Entregado</li>
            </ul>
          </div>
        </div>

      </div>



    <div class="row">
      <div class="col-3">
          <div class="botonEstado">
            <p class="estado"><em>Estado: {{estado}}</em></p>
          </div>

      </div>
      <div class="col-9">
        <div class="marcoDiv">
          <a class="visualizar" href="https://oet-avansat7.intrared.net:8083//ap/sate_zonlog/gesdoc/2023/11/2/20231116084825f4d4306a.png" target="_blank">Visualizar Archivo</a>
          <iframe src="https://oet-avansat7.intrared.net:8083//ap/sate_zonlog/gesdoc/2023/11/2/20231116084825f4d4306a.png"  class="marco">

          </iframe>
        </div>
      </div>
    </div>
  </div>

