<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a routerLink="/consulta" routerLinkActive="active">
      <img src="../../../assets/zona-logistica.png" alt="Bootstrap" width="280">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <strong><a class="nav-link active ms-5" aria-current="page" routerLink="/consulta" routerLinkActive="active">Inicio</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link active ms-5" aria-current="page" routerLink="/consulta" routerLinkActive="active">Nosotros</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link active ms-5" aria-current="page" routerLink="/consulta" routerLinkActive="active">Soluciones logisticas</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link active ms-5" aria-current="page" routerLink="/consulta" routerLinkActive="active">ubicación</a></strong>
        </li>
        <li class="nav-item">
          <strong><a class="nav-link active ms-5" aria-current="page" routerLink="/consulta" routerLinkActive="active">Contacto</a></strong>
        </li>
      </ul>
    </div>
  </div>
</nav>