.remesa h2 {
    font-weight: 700;
    margin-right: 20px;
}

.remesa ul {
    list-style: none;
}

.remesa ul li {
    display: inline-block;
    margin-right: 6px;
}

.remesa ul li h4 {
    font-weight: 400;
    display: block;
    padding: 0px 7.5px;
    border: #000000 1px solid;
    border-radius: 6px;
}

.tamaño_text {
    font-size: 18px;
    font-stretch: condensed;
}

.linea_punteada {
    width: 70%;
    border: none;
    border-top: 4px dotted #000000;
    margin: 10px 0;
}

.btn {
    background-color: #f9cb9c;
}

.table {
    border: 2px double transparent;
}

th {
    border: 2px dotted #b7b6b6;
    text-align: center;
}

td {
    text-align: center;
    border-right: 2px dotted #b7b6b6;
}


//**************************************
/* Barra de progreso */

.progress-container {
    z-index: 0;
    position: relative;
    margin: 20px auto;
    padding: 4px 0 0;
    width: 80%;
    height: 4px;
    background-color: #ffc46b;
}

.progress-container ul li {
    position: absolute;
    top: -4px;
    left: -9px;
    margin: 0;
    padding: 0;
    display: inline-table;
    height: 12px;
    width: 12px;
    background-color: #ff9900;
    border-radius: 50%;
}

.progress-container ul li:nth-child(2) {
    margin-left: 33%;
}

.progress-container ul li:nth-child(3) {
    margin-left: 67%;
}

.progress-container ul li:last-child {
    margin-left: 100%;
}

.progress-container ul li:before {
    z-index: -99;
    position: absolute;
    top: -4px;
    left: -3.5px;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #ffc46b;
    border-radius: 50%;
}

.progress-container .progress-bar {
    position: absolute;
    height: 6px;
    width: 100%; /* ****** cambiar el estado ****** */
    top: -1px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #ff9900;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }

//   ****************************************