<div class="container mt-4">
    <section class="remesa">
        <ul>
            <li>
                <h2>Remesa:</h2>
            </li>
            <li *ngFor="let numConsulta of valorConsulta">
                <h4>{{numConsulta}} </h4>
            </li>
        </ul>
    </section>

    <div class="row align-items-center ms-4 mt-4">
        <div class="col-4">
            <div class="row">
                <p class="m-0">
                    <strong class="fw-bold tamaño_text">Remitente:</strong> {{remitente.remitente}}
                </p>
                <p class="m-0">
                    <strong class="fw-bold tamaño_text">Cantidad:</strong> {{remitente.cantidad}}
                </p>
                <p class="m-0">
                    <strong class="fw-bold tamaño_text">Origen:</strong> {{remitente.origen}}
                </p>
                <hr class="mt-2 linea_punteada" />
            </div>

            <div class="row">
                <p class="m-0">
                    <strong class="fw-bold tamaño_text">Destinatario:</strong> {{destinatario.destinatario}}
                </p>
                <p class="m-0">
                    <strong class="fw-bold tamaño_text">Direccion:</strong> {{destinatario.direccion}}
                </p>
                <p class="m-0">
                    <strong class="fw-bold tamaño_text">Destino:</strong> {{destinatario.destino}}
                </p>
            </div>
        </div>
        <div class="col-8">
            <!-- Fechas -->
            <div class="row">
                <div class="col-2">
                    <p class="text-center">10/11/2023
                        17:51
                    </p>
                </div>
                <div class="col-2">
                    <p class="text-center">13/11/2023
                        19:20
                    </p>
                </div>
                <div class="col-2">
                    <p class="text-center">13/11/2023
                        19:22
                    </p>
                </div>
                <div class="col-2">
                    <p class="text-center">15/11/2023
                        08:49
                    </p>
                </div>
            </div>

            <!-- Imagenes -->
            <div class="row align-items-center text-center">
                <div class="col-2">
                    <img src="../../../assets/documento.png" width="50" />
                </div>
                <div class="col-2">
                    <img src="../../../assets/camion.png" width="55" />
                </div>
                <div class="col-2">
                    <img src="../../../assets/repartidor.png" width="55" />
                </div>
                <div class="col-2">
                    <img src="../../../assets/verificacion.png" width="50" />
                </div>
            </div>

            <!-- Barra de progreso -->
            <div class="row">
                <div class="col-8">
                    <div class="progress-container">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="progress-bar"></div>
                    </div>
                </div>
            </div>

            <!-- Estado de la remesa -->
            <div class="row">
                <div class="col-2">
                    <p class="text-center"><b>Orden Creada</b></p>
                </div>
                <div class="col-2">
                    <p class="text-center"><b>Asignacion a Vehiculo</b></p>
                </div>
                <div class="col-2">
                    <p class="text-center"><b>En Reparto</b></p>
                </div>
                <div class="col-2">
                    <p class="text-center"><b>Cumplida</b></p>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4" size="5px" color="black" />

    <!-- Tabla de las remesas -->
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Guia</th>
                    <th>Factura</th>
                    <th>Cod.Destinatario</th>
                    <th>Destinatario</th>
                    <th>Direccion</th>
                    <th>Ciudad</th>
                    <th>Estado</th>
                    <th>Fecha de Operacion</th>
                    <th>Comprobante</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datos of datosTable">
                    <td><strong>{{datos.guia}} </strong></td>
                    <td>{{datos.factura}} </td>
                    <td>{{datos.cod_destinatario}} </td>
                    <td>{{datos.destinatario}} </td>
                    <td>{{datos.direccion}} </td>
                    <td>{{datos.ciudad}} </td>
                    <td>{{datos.estado}} </td>
                    <td>{{datos.fechaOperacion}} </td>
                    <td class="text-center">
                        <a [href]="'https://nmvpostal.com/v1/verboleta/'+datos.guia"
                            target="_blank">
                            <button type="submit" class="btn">
                                <img src="../../../assets/hoja.png" class="me-4" width="25" />Ver
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
